# Combine all files

In [ ]:
import glob
import os
from typing import Dict, List
import pandas as pd
from collections import defaultdict

# this is only if you have a intermediate folder between the root dir and the cleanedFiles_ ones
# directory = 'cleaned_files'
subdirectory_prefix = 'cleanedFiles_'
subdirectories = [os.path.join(directory, d) for d in os.listdir(directory) if os.path.isdir(os.path.join(directory, d)) and d.startswith(subdirectory_prefix)]
dataframes: Dict[str, List[pd.DataFrame]] = defaultdict(list)

for subdir in subdirectories:
    suffix = subdir.split(subdirectory_prefix)[-1]
    csv_files = glob.glob(os.path.join(subdir, '*.csv'))
    for file_path in csv_files:
        df = pd.read_csv(file_path)
        dataframes[suffix].append(df)
print(dataframes.keys())

dict_keys(['Nancy', 'Jose', 'Jessica', 'Keerthi', 'Emmy'])

In [2]:
def set_index(dfs: list[pd.DataFrame], index_col: str):
    return [df.set_index(index_col, sorted=True, drop=False) for df in dfs]

def find_common_columns(dfs: list[pd.DataFrame]):
    common_columns = set(dfs[0].columns)
    for df in dfs[1:]:
        common_columns &= set(df.columns)
    return list(common_columns)

def find_common_columns_two(df1: pd.DataFrame, df2: pd.DataFrame):
    return list(set(df1.columns) & set(df2.columns))

def merge_two_files(df1: pd.DataFrame, df2:  pd.DataFrame, on: str='UNITID', how:str='inner'):
    # merged_df = dd.merge(df1, df2, left_index=True, right_index=True, how='outer')
    merged_df = pd.merge(df1, df2, on=on, how=how)
    return merged_df

def merge_files(dfs: list[pd.DataFrame], on: str='UNITID', how:str='inner'):
    if not dfs:  # If no DataFrames are provided, return an empty DataFrame
        return pd.DataFrame()
    # dfs = set_index(dfs, on)
    if len(dfs) == 1:
        return dfs[0]
    mid = len(dfs) // 2
    left_merged = merge_files(dfs[:mid], on=on, how=how)  
    right_merged = merge_files(dfs[mid:], on=on, how=how)
    return merge_two_files(left_merged, right_merged, on=on, how=how)

Jose's Files

In [3]:
jose_dfs = dataframes['Jose']
common_cols = find_common_columns(jose_dfs)
print('common columns:', common_cols)
merged_jose_files = merge_files(jose_dfs)
# merged_jose_files

common columns: ['UNITID']

In [5]:
jose_dfs[0].head()

,UNITID,STABBR_AK,STABBR_AL,STABBR_AR,STABBR_AS,STABBR_AZ,STABBR_CA,STABBR_CO,STABBR_CT,STABBR_DC,...,COUNTYNM_Yellowstone County,COUNTYNM_Yolo County,COUNTYNM_York County,COUNTYNM_Yuba County,COUNTYNM_Yuma County,CNGDSTCD,LONGITUD,LATITUDE,DFRCGID,DFRCUSCG
0,100654,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,105,-86.568502,34.783368,107,1
1,100663,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,107,-86.799345,33.505697,92,1
2,100690,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,102,-86.174010,32.362609,125,2
3,100706,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,105,-86.640449,34.724557,92,2
4,100724,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,107,-86.295677,32.364317,98,1

Keerthi's Files

In [ ]:
keerthi_dfs = dataframes['Keerthi']
common_cols = find_common_columns(keerthi_dfs)
print('common columns:', common_cols)
merged_keerthi_files = merge_files(keerthi_dfs)
# merged_keerthi_files

common columns: ['UNITID']

   UNITID  EFCSTATE  LINE  EFRES01  EFRES02
0  110714         5     5      576     415.0
1  110714         5     5        3       3.0
2  110714         5     5        2       2.0
3  110714         5     5        4       4.0
4  110714         6     6       22      22.0

Emmy's Files

In [8]:
emmy_dfs = dataframes['Emmy']
common_cols = find_common_columns(emmy_dfs)
print('common columns:', common_cols)
for df in emmy_dfs:
    print(df.shape)

common columns: ['UNITID']
(8341, 26)
(41911, 35)
(291935, 13)
(1991, 57)
(1991, 57)
(5709, 323)

In [7]:
emmy_dfs = dataframes['Emmy']
common_cols = find_common_columns(emmy_dfs)
print('common columns:', common_cols)
merged_emmy_files = merge_files(emmy_dfs)
# merged_emmy_files

common columns: ['UNITID']

Nancy's Files

In [5]:
nancy_dfs = dataframes['Nancy']
common_cols = find_common_columns(nancy_dfs)
print('common columns:', common_cols)
merged_nancy_files = merge_files(nancy_dfs)
# merged_nancy_files

common columns: ['UNITID']

Jessica's Files

In [9]:
jessica_dfs = dataframes['Jessica']
common_cols = find_common_columns(jessica_dfs)
print('common columns:', common_cols)
for df in jessica_dfs:
    print(df.shape)

common columns: ['UNITID']
(6005, 41)
(116110, 39)
(16132, 19)
(77996, 13)
(244004, 41)
(165914, 36)
(300877, 34)

In [10]:
jessica_dfs = dataframes['Jessica']
common_cols = find_common_columns(jessica_dfs)
print('common columns:', common_cols)
merged_jessica_files = merge_files(jessica_dfs)
# merged_jessica_files

common columns: ['UNITID']

:

combine all groups

In [8]:
# # Function to merge two DataFrames with unique suffixes
# def merge_with_suffixes(df1, df2, suffix1, suffix2):
#     # return dd.merge(df1, df2, on='UNITID', suffixes=(suffix1, suffix2))
#     return pd.merge(df1, df2, left_index=True, right_index=True, suffixes=(suffix1, suffix2))

merged_df = merged_jose_files
merged_df = merge_two_files(merged_df, merged_keerthi_files)
# merged_df = merge_two_files(merged_df, merged_nancy_files)

# merged_df = merge_with_suffixes(merged_df, merged_keerthi_files, '_jose', '_keerthi')
# merged_df = merge_with_suffixes(merged_df, merged_emmy_files, '_combined', '_emmy')
# merged_df = merge_with_suffixes(merged_df, merged_nancy_files, '_combined', '_nancy')
# merged_df = merge_with_suffixes(merged_df, merged_jessica_files, '_combined', '_jessica')

In [9]:
merged_df.shape

(0, 2006)

In [9]:
merged_df.head()

Empty DataFrame
Columns: [UNITID, STABBR_AK, STABBR_AL, STABBR_AR, STABBR_AS, STABBR_AZ, STABBR_CA, STABBR_CO, STABBR_CT, STABBR_DC, STABBR_DE, STABBR_FL, STABBR_FM, STABBR_GA, STABBR_GU, STABBR_HI, STABBR_IA, STABBR_ID, STABBR_IL, STABBR_IN, STABBR_KS, STABBR_KY, STABBR_LA, STABBR_MA, STABBR_MD, STABBR_ME, STABBR_MH, STABBR_MI, STABBR_MN, STABBR_MO, STABBR_MP, STABBR_MS, STABBR_MT, STABBR_NC, STABBR_ND, STABBR_NE, STABBR_NH, STABBR_NJ, STABBR_NM, STABBR_NV, STABBR_NY, STABBR_OH, STABBR_OK, STABBR_OR, STABBR_PA, STABBR_PR, STABBR_PW, STABBR_RI, STABBR_SC, STABBR_SD, STABBR_TN, STABBR_TX, STABBR_UT, STABBR_VA, STABBR_VI, STABBR_VT, STABBR_WA, STABBR_WI, STABBR_WV, STABBR_WY, FIPS, OBEREG, EIN, OPEFLAG, HAS_NPRICURL, HAS_VETURL, HAS_ATHURL, HAS_DISAURL, SECTOR, ICLEVEL, CONTROL, HLOFFER, UGOFFER, GROFFER, HDEGOFR1, DEGGRANT, HBCU, HOSPITAL, MEDICAL, TRIBAL, LOCALE, OPENPUBL, ACT_A , ACT_C , ACT_D , ACT_G , ACT_M , ACT_N , ACT_R , NEWID, DEATHYR, CYACTIVE, POSTSEC, PSEFLAG, PSET4FLG, RPTMTH, INSTCAT, C21BASIC, C21IPUG, C21IPGRD, ...]
Index: []

[0 rows x 2314 columns]

In [12]:
nancy_dfs[3].head()

,UNITID,F3A01,F3A01B,F3A02,F3A03,F3A04,F3A06,F3A07,F3A10,F3A11,...,F3E074,F3E075,F3E077,F3F03,F3G01,F3G02,F3G03,F3G04,F3G05,F3G07
0,101116,2865382.0,819082.0,338245.0,2527137.0,2865382.0,1247300.0,412894.0,1794934.0,975852.0,...,1396568,234901,2176770,1,-645299.0,5850359.0,2527137.0,2865382.0,954479.0,6495658.0
1,110468,80416391.0,7623001.0,73504923.0,6911468.0,80416391.0,11146203.0,7420695.0,18771330.0,11148329.0,...,9825401,2213347,26429005,3,83215894.0,83215894.0,6911468.0,80416391.0,6911468.0,87120040.0
2,133465,6724471.0,3238978.0,2413803.0,4310668.0,6724471.0,4032869.0,1025299.0,5455235.0,2216257.0,...,2629108,733954,3281398,3,-1107368.0,10847804.0,4310668.0,6724471.0,1071690.0,11955172.0
3,139579,4202808.0,1448699.0,1220910.0,2981898.0,4202808.0,1827016.0,1309866.0,3647213.0,2198514.0,...,2452715,519235,4128318,3,7401619.0,24235006.0,2981898.0,4202808.0,1533199.0,16833387.0
4,178989,2394425.0,891283.0,1932135.0,462290.0,2394425.0,1202666.0,2149357.0,3352023.0,2460740.0,...,420579,176946,3673010,2,-1019720.0,15173446.0,462290.0,2394425.0,462289.0,16106634.0